{% extends 'base.html.twig'%}

{% block title %}Welcome!{% endblock %}

{% block body %}
  <div class="button">
    <a href=" {{path('app_register')}} " class="register" id="register">Créer un compte</a>
    <a href=" {{path('app_login')}} " class="login" id="login">Se connecter</a>
  </div>
{% endblock %} 