{% extends 'base.html.twig'%}

{% block title %}Welcome!{% endblock %}

{% block body %}
  <body>
    <div class="button">
      <a href="register" id="signup">Créer un compte</a>
      <a href="login" id="register">Se connecter</a>
    </div>
  </body>
{% endblock %} 