{% extends 'base.html.twig'%}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <div class="button">
      <button id="signup" type="submit">Créer un compte</button>
      <button id="register" type="submit">Se connecter</button>
    </div>
{% endblock %} 