{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="edit-background">

        <div class="edit-container">

            <h1 class="edit-title">Renommer une catégorie</h1>

            <div class="edit-form">
                {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>

        </div>

        {{ include('category/_delete_form.html.twig') }}

        <a class="return-btn"href="{{ path('category_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

    </div>
{% endblock %}
