{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="new-background">

        {# <h1 class="new-title">Ajoutez un nouveau contact</h1> #}

        <div class="new-container">

            <div class="new-form">
                {{ include('category/_form.html.twig') }}
            </div>

            <a class="return-btn"href="{{ path('category_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 
        
        </div>

    </div>
{% endblock %}
