{% extends 'base.html.twig' %}

{% block title %}Edit PhoneNumber{% endblock %}

{% block body %}
    <div class="edit-background">

        <div class="edit-container">

            <h1 class="edit-title">Modifier un numéro</h1>

            <div class="edit-form">
                {{ include('phone_number/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>

        </div>

        {{ include('phone_number/_delete_form.html.twig') }}

        <a class="return-btn"href="{{ path('contact_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

    </div>
{% endblock %}
