{% extends 'base.html.twig' %}

{% block title %}New PhoneNumber{% endblock %}

{% block body %}
    <h1>Ajouter un numéro de téléphone</h1>

    {{ include('phone_number/_form.html.twig') }}

    <a href="{{ path('phone_number_index') }}">back to list</a>
    {# <a href="{{ path('contact_show', {'id': contact.id}) }}">back to list</a> #}
{% endblock %}
