{% extends 'base.html.twig' %}

{% block title %}New Adress{% endblock %}

{% block body %}
    <div class="new-background">

        {# <h1 class="new-title">Ajoutez un nouvelle adresse</h1> #}
        
        <div class="new-container-adress">

            <div class="new-form-adress">
                {{ include('adress/_form.html.twig') }}
            </div>
            
            <a class="return-btn"href="{{ path('contact_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

        </div>

    </div>
{% endblock %}
