@import "~bootstrap/scss/bootstrap";

$main-color: #30475E;
$secondary-color: #E7DEC8;
$third-color: #CBAF87; 
$fourth-color: #7E8A97; 
$light: rgba(250, 245, 242, 0.938);
$dark: #14030d;
$navbar-height: 12vh;

/*---------------------------Navbar------------------------------*/

.navbar {
    width: 100%;
    background-color: $third-color;
}

.logo {
    width: 15rem;
}

.nav-container {
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    font-size: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: $main-color;
}

.projet {
    padding-right: 4rem;
}

/*---------------------------Homepage------------------------------ */

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - $navbar-height); 
    background-color: $main-color;
}

.register {
    height: 12rem;
    width: 70%;
    font-size: 4rem;
    border-radius: 100px;
    background-color: $secondary-color;
    color: $main-color;
    text-decoration: none;
    text-align: center;
    padding-top: 2.5rem;
    margin-bottom: 5rem;
}

.login {
    height: 12rem;
    width: 70%;
    font-size: 4rem;
    border-radius: 100px;
    background-color: $secondary-color;
    color: $main-color;
    text-decoration: none;
    text-align: center;
    padding-top: 2.5rem;
    margin-bottom: 10rem; 
}

/*---------------------------LogInpage------------------------------ */

.login-background {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $navbar-height);
    justify-content: center;
    align-items: center;
    background-color: $main-color;
}

.login-form-container {
    align-items: center;
    background-color: $secondary-color;
    color: $main-color;
    text-align: center;
    width: 70%;
    height: 40%;
    border-radius: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

.login-email {
    font-size: 3rem;
}

.login-email-input {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.login-password {
    font-size: 3rem;
}

.login-password-input {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.login-btn {
    background-color: $secondary-color;
    margin-top: 8rem;
    width: 35%;
    height: 10rem;
    border-radius: 100%;
    font-size: 2.5rem;
    color: $main-color;
    border: $secondary-color;
}

/*---------------------------Registerpage------------------------------ */

.register-background {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $navbar-height);
    justify-content: center;
    align-items: center;
    background-color: $main-color;
}

.register-form-container {
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    width: 70%;
    height: 50%;
    border-radius: 100px;
    text-align: center;
    color: $main-color;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

form[name="registration_form"] {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-bottom: 2rem;
}

.required {
    font-size: 3rem;
}

#registration_form_email {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.password-field {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.register-btn {
    background-color: $secondary-color;
    margin-top: 8rem;
    width: 35%;
    height: 10rem;
    border-radius: 100%;
    font-size: 3rem;
    color: $main-color;
    border: $secondary-color;
}