/*---------------------------Mobile First------------------------------*/

/*---------------------------Variables------------------------------*/

:root {
    --main-color: #30475E;
    --secondary-color: #E7DEC8;
    --third-color: #CBAF87; 
    --fourth-color: #7E8A97; 
    --light: rgba(250, 245, 242, 0.938);
    --dark: #14030d;
}

/*---------------------------Navbar------------------------------*/


