/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ListeContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.list-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $third-color;
    height: 100%;
}

.infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: whitesmoke;
    width: 40rem;
    border-radius: 10px;
    color: $main-color;
    margin-top: 2rem;
    padding: 1.5rem;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.name {
    font-size: 2.5rem;
}

.phone-number {
    padding-top: 2rem;
}

.phone-number, .email, .adress, .location {
    font-size: 1.8rem;
}

.show-logo, .home-logo {
    height: 4rem;
}

.edit-logo {
    height: 2.5rem;
}

.call-logo, .mail-logo {
    height: 2.5rem;
}

.location-logo {
    height: 2rem;
    padding-left: 1rem;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    width: 17%;
    height: 10rem;
    border-radius: 100%;
    font-size: 5rem;
    text-decoration: none;
    color: whitesmoke;
    border: $third-color;
    position: sticky;
    bottom: 2rem;
    margin-top: 2rem;
}

.deconnexion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 25rem;
    background-color: transparent;
    border: 5px solid $main-color;
    border-radius: 100px;
    font-size: 3.2rem;
    text-decoration: none;
    color: $main-color;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.empty-title {
    color: $main-color;
    font-size: 3rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~AddContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.new-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(-45deg, rgb(48, 71, 94) 0%, rgb(126, 138, 151) 100%);
}

.new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-form {
    width: 70%;
}

.test, .name-test {
    height: 8rem;
    width: 100%;
    background-color: transparent;
    border: 5px solid $secondary-color;
    border-radius: 20px;
    margin-bottom: 5rem;
    font-size: 3rem;
    padding-left: 5rem;
    color: $secondary-color;
    overflow-x: scroll;
}


.name-test {
    margin-top: 5rem;
}

.div-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-btn, .return-btn, .delete-btn, .show-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 25rem;
    background-color: transparent;
    border: 5px solid $secondary-color;
    border-radius: 100px;
    font-size: 3.2rem;
    color: $secondary-color;
    margin-top: 5rem;
}

.return-btn, .delete-btn, .show-btn {
    text-decoration: none;
    margin-top: 2rem;
}

.return-btn {
    margin-bottom: 5rem;
}

.new-title {
    display: none;
}

#contact_account {
    display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~EditContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.edit-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(-45deg, rgb(48, 71, 94) 0%, rgb(126, 138, 151) 100%);
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form {
    width: 70%;
}

.edit-title {
    display: none;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ShowContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.show-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: linear-gradient(-45deg, rgb(48, 71, 94) 0%, rgb(126, 138, 151) 100%);
}

.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-form {
    width: 80%;
}

.show-input {
    height: 10rem;
    width: 100%;
    background-color: transparent;
    border: 5px solid $secondary-color;
    border-radius: 20px;
    margin-bottom: 5rem;
    font-size: 3rem;
    padding-left: 5rem;
    color: $secondary-color;
    overflow-x: scroll;
}

.profil-logo {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.profil-picture {
    width: 70%;
    height: auto;
}

.show-title {
    font-size: 5rem;
    color: $secondary-color;
    padding-bottom: 4rem;
    padding-top: 1rem;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Media Query PC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Media Query PC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Media Query PC~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media screen and (min-width: 1100px) {
    .list-background {
        height: 100%;
    }
    .new-background, .edit-background, .show-background {
        align-items: center;        
        overflow-x: hidden;
        background: $fourth-color;
    }
    .new-container, .edit-container, .show-container {
        background: linear-gradient(45deg, rgba(203,175,135,1) 0%, rgba(231,222,200,1) 100%);
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        height: 90%;
        width: 35rem;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .save-btn, .return-btn, .delete-btn, .show-btn {
        height: 4rem;
        width: 15rem;
        font-size: 1.5rem;
        border: 2px solid $main-color;
        color: $main-color;
    }
    .return-btn, .delete-btn, .show-btn {
        margin-top: 1rem;
    }
    .show-input, .test, .name-test {
        height: 4rem;
        margin-bottom: 1.5rem;
        font-size: 1.5rem;
        padding-left: 2rem;
        border: 2px solid $main-color;
        color: $main-color;
    }
    .show-title {
        font-size: 3.5rem;
        color: $main-color;
        padding-bottom: 2rem;
    }
    .profil-picture {
        width: 50%;
    }
    .save-btn {
        margin-top: 2rem;
    }
}