.delete-btn {
    background-color: $secondary-color;
    width: 70%;
    height: 10rem;
    border-radius: 100%;
    font-size: 2.7rem;
    color: $main-color;
    border: $secondary-color;
    margin-right: 3rem;
}