/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~EditContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.edit-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    height: 100vh;
    padding-top: 4rem;
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.edit-form {
    width: 70%;
}

.edit-title {
    font-size: 4rem;
    color: #30475E;
    position: fixed;
    top: 3rem;
    padding-left: 4rem;
}