/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ListeContact.scss~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.list-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    height: 100vh;
    padding-bottom: 4rem;
}

.infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    color: $main-color;
    padding: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.infos-background {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
    position: relative;
    top: 5rem;
}

.h4 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.edit-logo {
    height: 3rem;
}

.name {
    font-size: 2.5rem;
    padding-left: 3rem;
    text-align: center;
    color: $main-color;
}

.name-link {
    text-decoration: none;
}

.profil-icon {
    height: 6rem;
}

.checkbox {
    margin-right: 3rem;
    transform: scale(3);
    margin-left: 1rem;
}

/* input:checked {
    background-color: $third-color;
} */

.create-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-page {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.category {
    height: 5rem;
}
.logo-plus {
    height: 16rem;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
}
.logout {
    height: 5.5rem;
}

.list-title {
    font-size: 5rem;
    color: $main-color;
}

.logo-contact {
    display: none;
}

.choose-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

.choose-category-top {
    display: none;
}

.select {
    height: 8rem;
    background-color: whitesmoke;
    width: 30rem;
    text-align: center;
    font-size: 2.7rem;
    border-radius: 100px;
    color: $main-color;
    margin-bottom: 1.5rem;
}

.tri-btn {
    height: 8rem;
    width: 12rem;
    border-radius: 60px;
    background-color: whitesmoke;
    color: $main-color;
    font-size: 2.5rem;
}

.empty-title {
    font-size: 3rem;
    color: $main-color;
}


@media screen and (min-width: 1100px) {
    .choose-category-top {
        display: block;
        display: flex;
    }
    .select {
        height: 5rem;
        width: 25rem;
        font-size: 2rem;
        margin-bottom: 0rem;
    }
    .tri-btn {
        height: 5rem;
        width: 7rem;
        font-size: 1.5rem;
    }
    .choose-category {
        display: none;
    }
    .list-title {
        font-size: 4rem;
    }
    .edit-logo {
        height: 2rem;
    }
    .infos {
        height: 4rem;
        margin-top: 0.5rem;
    }
    .profil-icon {
        height: 3rem;
    }
    .name {
        font-size: 1.3rem;
        padding-left: 2rem;
    }
    .logo-plus {
        height: 10rem;
    }
}