@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

.login-background {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $navbar-height);
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    font-family: "Orelega One";
}

.login-form-container {
    align-items: center;
    background-color: $secondary-color;
    color: $main-color;
    text-align: center;
    width: 70%;
    height: 40%;
    border-radius: 100px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-bottom: 6rem;
    padding-top: 4rem;
}

.login-email {
    font-size: 3rem;
}

.login-email-input {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.login-password {
    font-size: 3rem;
}

.login-password-input {
    height: 5rem;
    width: 90%;
    background-color: rgba(203, 175, 135, 0.5);
    font-size: 2.5rem;
    color: $main-color;
}

.login-btn {
    background-color: $secondary-color;
    margin-top: 8rem;
    width: 35%;
    height: 10rem;
    border-radius: 100%;
    font-size: 2.5rem;
    color: $main-color;
    border: $secondary-color;
}