.navbar {
    width: 100%;
    background-color: $third-color;
}

.nav-container {
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    font-size: 4rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: $main-color;
}

.deconnexion {
    padding-right: 3rem;
}