
$main-color: #30475E;
$secondary-color: #E7DEC8;
$third-color: #CBAF87; 
$fourth-color: #7E8A97;
$fifth-color: #416180;
$light: rgba(250, 245, 242, 0.938);
$dark: #14030d;
$footer-height: 10rem;
$navbar-height: 12vh;