{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}

    <h1 class="edit-title">Modifier un contact</h1>
    
    <div class="edit-background">

        {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        {# <a href="{{ path('contact_index') }}">Retour</a> #}
        
        <div class="parent-delete-btn">
            {{ include('contact/_delete_form.html.twig') }} 
        </div>

    </div>
{% endblock %}
