{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}

    <h1 class="edit-title">Modifier un contact</h1>
    
    <div class="edit-background">

        <div class="edit-container">

            {{ include('contact/_form.html.twig', {'button_label': 'Enregistrer'}) }}

            <a class="return-btn"href="{{ path('contact_index') }}">Retour</a>
            
            {{ include('contact/_delete_form.html.twig') }} 

        </div>

    </div>
{% endblock %}
