{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <div class="edit-background">

        <div class="edit-container">

            <h1 class="edit-title">Modifier un contact</h1>

            <div class="edit-form">
                {{ include('contact/_form.html.twig') }}
            </div>

        </div>

        {{ include('contact/_delete_form.html.twig') }} 

        <a class="return-btn"href="{{ path('contact_index') }}"><img class="retour" src="{{ asset('build/images/retour.png') }}" alt="ACME retour"></a> 

    </div>
{% endblock %}
