<nav class="navbar" style="width: 100%; background-color: #CBAF87;">
    <div class="nav-container">
        <ul class="nav-links" style="display: flex; justify-content: space-around; align-items: center; height: 10vh; font-size: 4rem; list-style: none; margin: 0; padding: 0;">
            <li class="logo"><img src="logo.png" alt=""></li>
            <li><a style="text-decoration: none; color: #30475E;" href="/">Home</a></li>
            <li><a style="text-decoration: none; color: #30475E;" href="/projet">Projet</a></li>
        </ul>
    </div>
</nav>
    