<nav class="navbar">

    <div class="nav-container">

        <ul class="nav-links">
            <li><img class="logo" src="{{ asset('build/images/logo.png') }}" alt="ACME logo"></li>
            <li><a href=" {{path('program_index')}} ">Projet</a></li> 
            <li>{% if app.user %}<a class="deconnexion" href="{{ path('app_logout') }}">Déconnexion</a>{% endif %}</li>
        </ul>

    </div>
    
</nav>
    