<nav class="navbar">
    <div class="nav-container">
        <ul class="nav-links">
            <li class="logo"><img src="assets/img/logo.png" alt=""></li>
            <li><a href="/">Home</a></li>
            <li><a href="/projet">Projet</a></li>
        </ul>
    </div>
</nav>
    